/* Tabla */
.tabla-citas {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: center;
}

.tabla-citas th,
.tabla-citas td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabla-citas th {
  background-color: orange;
  color: white;
}

.tabla-citas tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-citas tr:hover {
  background-color: #ddd;
}

/* Botón Cancelar */
.boton-cancelar {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.boton-cancelar:hover {
  background-color: darkred;
}