/* Tabla */
.tabla-citas {
  width: 95%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: center;
}

.tabla-citas th,
.tabla-citas td {
  border: 1px solid #ccc;
  padding: 8px;
}

.tabla-citas th {
  background-color: orange;
  color: white;
}

.tabla-citas tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Botón cancelar */
.btn-cancelar {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-cancelar:hover {
  background-color: darkred;
}

/* Botón asistida */
.btn-asistida {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-asistida:hover {
  background-color: darkgreen;
}